# 컴파일러 성능 최적화 (-O2)
CONFIG_COMPILER_OPTIMIZATION_PERF=y
# 어설션 비활성화
CONFIG_COMPILER_OPTIMIZATION_ASSERTIONS_DISABLE=y
# 로그 레벨을 Warning으로 낮추어 로깅 오버헤드 차단
CONFIG_LOG_DEFAULT_LEVEL_WARN=y
CONFIG_BOOTLOADER_LOG_LEVEL_WARN=y